<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Editar Orden</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/edit.css" type="text/css">
</head>

<body>
    <div class="container mt-4">
        <!-- Título y botones fijos -->
        <div class="fixed-header">
            <h3>Editar Orden</h3>
            <div class="btn-group">
                <button class="btn btn-success"><a href="/new" class="text-white">Nueva Orden</a></button>
                <a href="/search" class="btn btn-warning text-white">Buscar Orden</a>
                <a href="/" class="btn btn-secondary">Volver al Inicio</a>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-8 offset-md-2">
                <form action="/update/<%= servicio.id %>" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="numero_orden">Número de Orden (ID):</label>
                        <input type="text" id="numero_orden" name="numero_orden" value="<%= servicio.id %>" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <label for="fecha_ingreso">Fecha de Ingreso:</label>
                        <input type="text" id="fecha_ingreso" name="fecha_ingreso" value="<%= servicio.fecha_ingreso %>" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <label for="nombre_cliente">Nombre del cliente:</label>
                        <input type="text" id="nombre_cliente" name="nombre_cliente"
                            value="<%= servicio.nombre_cliente %>" required class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="telefono">Teléfono:</label>
                        <input type="text" id="telefono" name="telefono" value="<%= servicio.telefono %>" required
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="tipo_equipo">Tipo de equipo:</label>
                        <input type="text" id="tipo_equipo" name="tipo_equipo" value="<%= servicio.tipo_equipo %>"
                            required class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="marca">Marca:</label>
                        <input type="text" id="marca" name="marca" value="<%= servicio.marca %>" required
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="modelo">Modelo:</label>
                        <input type="text" id="modelo" name="modelo" value="<%= servicio.modelo %>" required
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="numero_serie">Número de serie:</label>
                        <input type="text" id="numero_serie" name="numero_serie" value="<%= servicio.numero_serie %>"
                            required class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="accesorios">Accesorios:</label>
                        <input type="text" id="accesorios" name="accesorios" value="<%= servicio.accesorios %>" required
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="tareas">Tareas a realizar:</label>
                        <input type="text" id="tareas" name="tareas" value="<%= servicio.tareas %>" required
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="estado">Estado:</label>
                        <select id="estado" name="estado" class="form-control">
                            <option value="INGRESADO" <%= servicio.estado === "INGRESADO" ? "selected" : "" %>>Ingresado</option>
                            <option value="PRESUPUESTADO" <%= servicio.estado === "PRESUPUESTADO" ? "selected" : "" %>>Presupuestado</option>
                            <option value="PRESUPUESTADO_AVISADO" <%= servicio.estado === "PRESUPUESTADO_AVISADO" ? "selected" : "" %>>Presupuestado Avisado</option>
                            <option value="PRESUPUESTADO_APROBADO" <%= servicio.estado === "PRESUPUESTADO_APROBADO" ? "selected" : "" %>>Presupuestado Aprobado</option>
                            <option value="RECHAZADO_A_DEVOLVER" <%= servicio.estado === "RECHAZADO_A_DEVOLVER" ? "selected" : "" %>>Rechazado a Devolver</option>
                            <option value="REPARADO" <%= servicio.estado === "REPARADO" ? "selected" : "" %>>Reparado</option>
                            <option value="REPARADO_AVISADO" <%= servicio.estado === "REPARADO_AVISADO" ? "selected" : "" %>>Reparado Avisado</option>
                            <option value="REVISAR" <%= servicio.estado === "REVISAR" ? "selected" : "" %>>Revisar</option>
                            <option value="LLAMAR" <%= servicio.estado === "LLAMAR" ? "selected" : "" %>>Llamar</option>
                            <option value="RETIRADO" <%= servicio.estado === "RETIRADO" ? "selected" : "" %>>Retirado</option>
                        </select>
                    </div>
                    
                    <!-- Campo para la fecha de retiro -->
                    <% if (servicio.estado === 'RETIRADO') { %>
                        <div class="form-group">
                            <label for="fecha_retiro">Fecha de Retiro:</label>
                            <input type="text" id="fecha_retiro" name="fecha_retiro" class="form-control"
                                value="<%= servicio.fecha_retiro %>">
                        </div>
                    <% } %>
                    
                    <div class="form-group">
                        <label for="observaciones">Observaciones:</label>
                        <textarea id="observaciones" name="observaciones"
                            class="form-control"><%= servicio.observaciones %></textarea>
                    </div>
                    
                    <div class="form-group">
                        <label for="foto">Foto:</label>
                        <input type="file" id="foto" name="foto" class="form-control-file">
                        <img src="/img/<%= servicio.foto %>" alt="Foto actual" width="200" class="clickable-image" id="full-image">
                    </div>
                    
                    <!-- Campo oculto para almacenar la fecha actual -->
                    <input type="hidden" id="current_date" name="current_date" value="<%= new Date().toLocaleDateString() %>">


                    <div class="d-flex justify-content-between mt-3">
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                        <a href="/print/<%= servicio.id %>" class="btn btn-secondary">Ir a la vista de impresión</a>
                        <a href="/" class="btn btn-secondary">Cancelar</a>
                        <form action="/delete/<%= servicio.id %>" method="POST" id="delete-form">
                            <button type="button" class="btn btn-danger" onclick="confirmDelete('<%= servicio.id %>')">Eliminar este registro</button>
                        </form>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
       
        // Función de confirmación de borrado
        function confirmDelete(orderId) {
                if (confirm(`¿ESTA SEGURO DE QUE QUIERE ELIMINAR LA ORDEN N°: ${orderId} ?`)) {
                    fetch(`/delete/${orderId}`, { method: 'POST' })
    .then(response => {
        if (response.ok) {
            // Redirigir al menú principal
            window.location.href = '/';
        }
    })
    .catch(error => console.error('Error al borrar el registro:', error));
                }
            }

    //funcion para agrandar la foto a pantalla completa        
            
    // Obtener la imagen y el modal
    var img = document.getElementById("full-image");
    var modal = document.createElement("div");
    modal.className = "modal";
    
    // Agregar el modal al cuerpo del documento
    document.body.appendChild(modal);

    // Cuando se hace clic en la imagen, mostrar el modal
    img.onclick = function () {
        modal.style.display = "block";
        var modalImg = document.createElement("img");
        modalImg.src = img.src;
        modalImg.className = "modal-content";
        modal.appendChild(modalImg);
    }

    // Cuando se hace clic en el modal, ocultarlo
    modal.onclick = function () {
        modal.style.display = "none";
        modal.innerHTML = ""; // Limpiar el contenido del modal
    }
</script>        
    
    
</body>

</html>
