<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Buscar en la base de datos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/search.css" type="text/css">
</head>

<body>
    <div class="container mt-4">
        <!-- Título y botones fijos -->
        <div class="fixed-header">
            <h3>Buscar en la base de datos</h3>
            <div class="btn-group">
                <button class="btn btn-success"><a href="/new" class="text-white">Nueva Orden</a></button>
                <!-- <button class="btn btn-warning"><a href="/search" class="text-white">Buscar Orden</a></button> -->
                <button class="btn btn-secondary"><a href="/database" class="text-white">Abrir Database</a></button>
                <a href="/" class="btn btn-primary">Volver al Inicio</a>
            </div>
        </div>

        <!-- Formulario de búsqueda -->
<form id="searchForm" method="POST" action="/search">
    <div class="form-group">
        <label for="searchId">Buscar por ID:</label>
        <input type="number" id="searchId" name="searchId" class="form-control">
    </div>
    <div class="form-group">
        <label for="searchName">Buscar por nombre y apellido:</label>
        <input type="text" id="searchName" name="searchName" class="form-control">
    </div>
    <div class="form-group">
        <label for="searchEstado">Filtrar por estado:</label>
        <select id="searchEstado" name="searchEstado" class="form-control">
            <option value="">Todos los Estados</option>
            <option value="PENDIENTE">Pendientes</option>
            <option value="RETIRADO">Retirado</option>
            <!-- Otras opciones de estado aquí -->
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>

        <!-- Resultados de la búsqueda -->
        <div id="searchResult">
            <% if (results && results.length> 0) { %>
                <h3>Resultados de la búsqueda:</h3>
                <div class="row">
                    <% results.forEach(result=> { %>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title expand-btn"><strong>Cliente:</strong>
                                        <%= result.nombre_cliente %>
                                    </h5>
                                    <p class="card-text"><strong>ID:</strong>
                                        <%= result.id %>
                                    </p>
                                    <p class="card-text"><strong>Fecha de Ingreso:</strong>
                                        <%= result.fecha_ingreso %>
                                    </p>
                                    <p class="card-text"><strong>Tipo de Equipo:</strong>
                                        <%= result.tipo_equipo %>
                                    </p>
                                    <p class="card-text"><strong>Estado:</strong>
                                        <%= result.estado %>
                                    </p>
                                    <p class="card-text"><strong>Fecha de Retiro:</strong>
                                        <%= result.fecha_retiro ? result.fecha_retiro : "NO RETIRADO" %>
                                    </p>
                                    <div class="expanded-details" style="display: none;">
                                        <p><strong>Teléfono:</strong>
                                            <%= result.telefono %>
                                        </p>
                                        <p><strong>Marca:</strong>
                                            <%= result.marca %>
                                        </p>
                                        <p><strong>Modelo:</strong>
                                            <%= result.modelo %>
                                        </p>
                                        <p><strong>Número de Serie:</strong>
                                            <%= result.numero_serie %>
                                        </p>
                                        <p><strong>Accesorios:</strong>
                                            <%= result.accesorios %>
                                        </p>
                                        <p><strong>Tareas:</strong>
                                            <%= result.tareas %>
                                        </p>
                                        <p><strong>Observaciones:</strong>
                                            <%= result.observaciones %>
                                        </p>
                                        <p><strong>Foto:</strong> <img src="<%= result.foto ? '/img/' + result.foto: "/img/foto1.jpg" %>" alt="Foto" width="200" class="expand-image"> </p>
                                        <a href="/edit/<%= result.id %>" class="btn btn-primary">Editar</a>
                                        
                                        <form id="deleteForm-<%= result.id %>" action="/delete/<%= result.id %>" method="POST" style="display: inline;">
                                            <button type="button" class="btn btn-danger delete-button" data-id="<%= result.id %>">Eliminar</button>
                                        </form>
                                        <a href="/print/<%= result.id %>" class="btn btn-secondary">Imprimir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                </div>
                <% } else { %>
                    <h3>No se encontraron resultados</h3>
                    <% } %>
        </div>

        <script>
            // Agregar un controlador de evento para expandir los detalles al hacer clic en cualquier parte del resumen
            const expandSummaries = document.querySelectorAll('.expand-btn');
            expandSummaries.forEach(summary => {
                summary.addEventListener('click', () => {
                    const expandedDetails = summary.parentElement.querySelector('.expanded-details');
                    expandedDetails.style.display = expandedDetails.style.display === 'none' ? 'block' : 'none';
                });
            });
          // Agrega un controlador de evento a los botones "Borrar".
        document.addEventListener("DOMContentLoaded", function() {
        const deleteButtons = document.querySelectorAll(".delete-button");

        deleteButtons.forEach(button => {
            button.addEventListener("click", function() {
                const id = this.getAttribute("data-id");
                if (confirm('¿ESTA SEGURO DE QUE QUIERE ELIMINAR LA ORDEN N°: ' + id + '?')) {
                    const form = document.getElementById("deleteForm-" + id);
                    form.submit();
                }
            });
        });
    });
            // Función para mostrar la imagen a pantalla completa
    function displayFullscreenImage() {
        const images = document.querySelectorAll('.expand-image');
        
        images.forEach(image => {
            image.addEventListener('click', () => {
                const modal = document.createElement("div");
                modal.className = "modal";
                modal.innerHTML = '<div class="modal-content"><img id="modal-image" src="" alt="Imagen ampliada"></div>';
                document.body.appendChild(modal);

                const modalContent = modal.querySelector(".modal-content");
                const modalImage = modal.querySelector("#modal-image");

                modal.style.display = "block";
                modalImage.src = image.src;

                modal.addEventListener('click', () => {
                    modal.style.display = "none";
                    modalImage.src = "";
                });
            });
        });
    }

    // Llamar a la función para activar la expansión de imagen
    displayFullscreenImage();

        </script>
</body>

</html>